In [17]:
import pandas as pd
from pathlib import Path

file_school_data = Path("Resources/schools_complete.csv")
file_student_data = Path("Resources/students_complete.csv")

school_data = pd.read_csv(file_school_data)
student_data = pd.read_csv(file_student_data)

complete_data = pd.merge(student_data, school_data, on='school_name')
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

DISTRICT SUMMARY

In [18]:
# Total number of unique schools
school_count = len(complete_data['school_name'].unique())
school_count

15

In [19]:
# Total number of students
student_count = len(complete_data['student_name'])
student_count

39170

In [20]:
# Total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [21]:
# Average math score
avg_math_score = complete_data['math_score'].mean()
avg_math_score

78.98537145774827

In [22]:
# Average reading score
avg_reading_score = complete_data['reading_score'].mean()
avg_reading_score

81.87784018381414

In [23]:
# Percentage of students passing math
math_pass_count = complete_data[(complete_data['math_score'] >= 70)].count()['student_name']
math_pass_percent = math_pass_count / student_count * 100
math_pass_percent

74.9808526933878

In [24]:
# Percentage of students passing reading
reading_pass_count = complete_data[(complete_data['reading_score'] >= 70)].count()['student_name']
reading_pass_percent = reading_pass_count / student_count * 100
reading_pass_percent

85.80546336482001

In [25]:
# Percentage of students passing math and reading
overall_pass_count = complete_data[(complete_data['math_score'] >= 70) &
                                   (complete_data['reading_score'] >= 70)].count()['student_name']
overall_pass_percent = overall_pass_count / student_count * 100
overall_pass_percent

65.17232575950983

In [26]:
# Create summary table
district_summary = pd.DataFrame({'Total Schools': [school_count], 'Total Students': [student_count],
                                 'Total Budget': [total_budget], 'Average Math Score': [avg_math_score],
                                 'Average Reading Score': [avg_reading_score], '% Passing Math': [math_pass_percent],
                                 '% Passing Reading': [reading_pass_percent], '% Overall Passing': [overall_pass_percent]})

# Format necessary columns
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('{:,.2f}'.format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

SCHOOL SUMMARY

In [115]:
# All school types
school_types = complete_data.groupby(['school_name']).max()['type']
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [116]:
# Total students per school
count_per_school = complete_data.groupby(['school_name']).count()['student_name']
count_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [117]:
# Total budget per school and per capita spending per school
budget_per_school = complete_data.groupby(['school_name']).max()['budget']
capita_per_school = budget_per_school / count_per_school
capita_per_school

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [118]:
# Average test scores per school
math_avg_per_school = by_school_data['math_score'].mean()
reading_avg_per_school = by_school_data['reading_score'].mean()

In [119]:
# Number of students per school passing math
math_pass_students = complete_data.loc[(complete_data['math_score'] >= 70)]
math_pass_per_school = math_pass_students.groupby(['school_name']).size()
math_pass_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [120]:
# Number of students per school passing reading
reading_pass_students = complete_data.loc[(complete_data['reading_score'] >= 70)]
reading_pass_per_school = reading_pass_students.groupby(['school_name']).size()
reading_pass_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [121]:
# Number of students passing reading and math per school
overall_pass_students = complete_data.loc[(complete_data['math_score'] >= 70) & (complete_data['reading_score'] >= 70)]

overall_pass_per_school = overall_pass_students.groupby(['school_name']).size()
overall_pass_per_school

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [102]:
# Percent of students passing reading and math per school
math_pass_percent_per_school = math_pass_per_school / count_per_school * 100
reading_pass_percent_per_school = reading_pass_per_school / count_per_school * 100
overall_pass_percent_per_school = overall_pass_per_school / count_per_school * 100

In [125]:
# Create a summary table
per_school_summary = pd.DataFrame({'School Type': school_types, 'Total Students': count_per_school,
                                   'Total School Budget': budget_per_school, 'Per Student Budget': capita_per_school,
                                   'Average Math Score': math_avg_per_school, 'Average Reading Score': reading_avg_per_school,
                                   '% Passing Math': math_pass_percent_per_school, '% Passing Reading': reading_pass_percent_per_school,
                                   '% Overall Passing': overall_pass_percent_per_school})

#Formatting
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.2f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

HIGHEST-PERFORMING SCHOOLS (BY % OVERALL PASSING)