# PyCity School Analysis

* Based on the following data frames that have been created from the school district data, several conclusions regarding success in the form of test scores can be made. When first looking at the overall district summary, it is worth nothing that overall, students appear to test better in reading than in math. This is confirmed in the school summary data frame where across schools, the percentage of students passing reading is significantly higher than the percentage of students passing math. This is particularly true with district schools, whereas in most charter schools it appears that this difference in passing percentages of reading vs math is much smaller, but still leans in favor of higher passing percentages in reading.
* This conclusion leads us into data frames identifying highest and lowest performing schools based on overall passing percentages. It is worth nothing that the five highest performing schools are charter schools with overall passing percentages of around 90% and the five lowest performing schools are district schools with passing percentages of around 58%. Further analysis will explore what factors may be responsible for the difference in performance across schools in the district.
* The next data frames explore average scores by grade in each subject sorted by school. A quick scan of each will reveal that average scores are consistent across each grade and sit within 1-2 points of each other, suggesting that the discrepancy in scores is a factor of the schools as a whole. 
* The next data frame looks at school budget and spending per student. The summary table quickly shows an inverse trend related to spending ranges per student when examined against passing percentages, where schools with the highest spending ranges have the lowest passing percentages with a spending range of 645-680 dollars having a passing rate of 54% and schools with the lowest spending ranges have the highest passing percentages with <585 dollars having a passing rate of 90%. In most instances, more budget would be associated with increased improvement, however this is not the case here.
* Finally, the last data frames organize the data based on school size and type. From the summary of school sizes, there is no significant difference in passing percentages between small to medium sized schools. However, schools in the large category seem to exhibit significantly lower passing percentages when compared to the former two sizes with a difference of 31-32%. Next, looking at the summary table based on school types, it appears that this is also a significant factor for passing test scores. Charter schools have a 90% overall passing rate, which is significantly higher than district schools which only have an overall passing rate of about 54%.
* From this analysis it can therefore be concluded that larger schools and district schools struggle the most with attaining higher passing rates in standardized testing, while smaller schools and district schools test considerably better overall.

---

In [1]:
# import necessary libraries
import pandas as pd
from pathlib import Path

# read in the csv files as dataframes
file_school_data = Path("Resources/schools_complete.csv")
file_student_data = Path("Resources/students_complete.csv")

school_data = pd.read_csv(file_school_data)
student_data = pd.read_csv(file_student_data)

# merge csv dataframes into one dataframe using an inner join
complete_data = pd.merge(student_data, school_data, on='school_name')
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Total number of unique schools
school_count = len(complete_data['school_name'].unique())
school_count

15

In [3]:
# Total number of students
student_count = len(complete_data['student_name'])
student_count

39170

In [4]:
# Total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [5]:
# Average math score
avg_math_score = complete_data['math_score'].mean()
avg_math_score

78.98537145774827

In [6]:
# Average reading score
avg_reading_score = complete_data['reading_score'].mean()
avg_reading_score

81.87784018381414

In [7]:
# Percentage of students passing math
math_pass_count = complete_data[(complete_data['math_score'] >= 70)].count()['student_name']
math_pass_percent = math_pass_count / student_count * 100
math_pass_percent

74.9808526933878

In [8]:
# Percentage of students passing reading
reading_pass_count = complete_data[(complete_data['reading_score'] >= 70)].count()['student_name']
reading_pass_percent = reading_pass_count / student_count * 100
reading_pass_percent

85.80546336482001

In [9]:
# Percentage of students passing math and reading
overall_pass_count = complete_data[(complete_data['math_score'] >= 70) &
                                   (complete_data['reading_score'] >= 70)].count()['student_name']
overall_pass_percent = overall_pass_count / student_count * 100
overall_pass_percent

65.17232575950983

In [10]:
# Create summary table
district_summary = pd.DataFrame({'Total Schools': [school_count], 'Total Students': [student_count],
                                 'Total Budget': [total_budget], 'Average Math Score': [avg_math_score],
                                 'Average Reading Score': [avg_reading_score], '% Passing Math': [math_pass_percent],
                                 '% Passing Reading': [reading_pass_percent], '% Overall Passing': [overall_pass_percent]})

# Format necessary columns
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('{:,.2f}'.format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# All school types
school_types = complete_data.groupby(['school_name']).max()['type']

In [12]:
# Total students per school
count_per_school = complete_data.groupby(['school_name']).count()['student_name']

In [13]:
# Total budget per school and per capita spending per school
budget_per_school = complete_data.groupby(['school_name']).max()['budget']
capita_per_school = budget_per_school / count_per_school

In [14]:
# Average test scores per school
math_avg_per_school = complete_data.groupby(['school_name'])['math_score'].mean()
reading_avg_per_school = complete_data.groupby(['school_name'])['reading_score'].mean()

In [15]:
# Number of students per school passing math
math_pass_students = complete_data.loc[(complete_data['math_score'] >= 70)]
math_pass_per_school = math_pass_students.groupby(['school_name']).size()

In [16]:
# Number of students per school passing reading
reading_pass_students = complete_data.loc[(complete_data['reading_score'] >= 70)]
reading_pass_per_school = reading_pass_students.groupby(['school_name']).size()

In [17]:
# Number of students passing reading and math per school
overall_pass_students = complete_data.loc[(complete_data['math_score'] >= 70) & (complete_data['reading_score'] >= 70)]

overall_pass_per_school = overall_pass_students.groupby(['school_name']).size()

In [18]:
# Percent of students passing reading and math per school
math_pass_percent_per_school = math_pass_per_school / count_per_school * 100
reading_pass_percent_per_school = reading_pass_per_school / count_per_school * 100
overall_pass_percent_per_school = overall_pass_per_school / count_per_school * 100

In [19]:
# Create a summary table
per_school_summary = pd.DataFrame({'School Type': school_types, 'Total Students': count_per_school,
                                   'Total School Budget': budget_per_school, 'Per Student Budget': capita_per_school,
                                   'Average Math Score': math_avg_per_school, 'Average Reading Score': reading_avg_per_school,
                                   '% Passing Math': math_pass_percent_per_school, '% Passing Reading': reading_pass_percent_per_school,
                                   '% Overall Passing': overall_pass_percent_per_school})

#Formatting
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.2f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort and display top 5 schools
top_schools = per_school_summary.sort_values(by=['% Overall Passing'], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Lowest-Performing Schools (by % Overall Passing)

In [21]:
# Sort and display bottom 5 schools
bottom_schools = per_school_summary.sort_values(by=['% Overall Passing'], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [22]:
# Seperate data by grade
ninth_grade = complete_data[(complete_data['grade'] == '9th')]
tenth_grade = complete_data[(complete_data['grade'] == '10th')]
eleventh_grade = complete_data[(complete_data['grade'] == '11th')]
twelfth_grade = complete_data[(complete_data['grade'] == '12th')]

# Calculate average math score for each grade by school
ninth_grade_math = ninth_grade.groupby(['school_name'])['math_score'].mean()
tenth_grade_math = tenth_grade.groupby(['school_name'])['math_score'].mean()
eleventh_grade_math = eleventh_grade.groupby(['school_name'])['math_score'].mean()
twelfth_grade_math = twelfth_grade.groupby(['school_name'])['math_score'].mean()

# Summary of math scores by grade and school
grade_math_df = pd.DataFrame({'9th': ninth_grade_math, '10th': tenth_grade_math, '11th': eleventh_grade_math,
                                 '12th': twelfth_grade_math})

grade_math_df.index.name = None

grade_math_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [23]:
# Calculate average reading score for each grade by school
ninth_grade_reading = ninth_grade.groupby(['school_name'])['reading_score'].mean()
tenth_grade_reading = tenth_grade.groupby(['school_name'])['reading_score'].mean()
eleventh_grade_reading = eleventh_grade.groupby(['school_name'])['reading_score'].mean()
twelfth_grade_reading = twelfth_grade.groupby(['school_name'])['reading_score'].mean()

# Summary of reading scores by grade and school
grade_reading_df = pd.DataFrame({'9th': ninth_grade_reading, '10th': tenth_grade_reading, '11th': eleventh_grade_reading,
                                 '12th': twelfth_grade_reading})

grade_reading_df.index.name = None

grade_reading_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [24]:
# Establish the bins and labels
spending_bins = [0, 585, 630, 645, 680]
label = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Copy the school summary dataframe 
school_spending_df = per_school_summary.copy()

In [26]:
# Categorize spending based on established bins and labels
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'].str.lstrip('$').astype(float), spending_bins, labels=label, include_lowest=True)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [27]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [28]:
# Summary table of scores against spending per student
spending_summary = pd.DataFrame({'Average Math Score': spending_math_scores, 'Average Reading Score': spending_reading_scores,
                                 '% Passing Math': spending_passing_math, '% Passing Reading': spending_passing_reading,
                                 '% Overall Passing': overall_passing_spending})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [29]:
# Establish the bins and labels
size_bins = [0, 1000, 2000, 5000]
label_2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Copying over per_school_summary df for pd.cut
school_size_df = per_school_summary.copy()

# Categorize spending based on size bins and labels
school_size_df['School Size'] = pd.cut(school_size_df['Total Students'], size_bins, labels = label_2, include_lowest = True)

school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns. 
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [32]:
# Summary table of average scores against school size
size_summary = pd.DataFrame({'Average Math Score': size_math_scores, 'Average Reading Score': size_reading_scores,
                             '% Passing Math': size_passing_math, '% Passing Reading': size_passing_reading,
                             '% Overall Passing': size_overall_passing})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [33]:
# Group school summary by school type and acquire averages
average_math_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
percent_passing_math_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
percent_passing_reading_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
percent_overall_passing_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [34]:
# Summary table of averages scores against school type
type_summary = pd.DataFrame({'Average Math Score': average_math_type, 'Average Reading Score': average_reading_type,
                             '% Passing Math': percent_passing_math_type, '% Passing Reading': percent_passing_reading_type,
                             '% Overall Passing': percent_overall_passing_type})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208